
body {
  padding: 0;
  margin:0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  min-width: 1200px;
  background-color: white;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  }
button,
input,
select,
textarea {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.visuallyhidden:not(:focus):not(:active)  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}


/* Хедер + навигация ========================*/
.site-header {
  background-color: #eeeeee;
  padding-top: 49px;
}
.header-color {
  background-color: #eeeeee;
}
.main-navigation li {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
   }
.site-navigation li {
  padding: 0 23px;
}

.main-navigation a:hover:not(:last-child) {
  opacity: 80%;
}
.main-navigation a:active:not(:last-child) {
  opacity: 30%;
}
.site-navigation,
.cart-navigation {
  list-style: none;
  padding: 0px;
}
.site-navigation a,
.cart-navigation a {
  color: #000000;
  font-weight: 500;
  position: relative;
  padding-bottom: 10px;
}

.cart-navigation .cart-link{
  padding-left: 45px;
}
.cart-link::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 16px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.cart-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:active,
.cart-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-btn-header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  bottom: 0px;
  top: 27px;
}

.main-navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

 }
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

 }
.site-navigation {
  display: flex;
  min-width: 440px;
  justify-content: space-between;
  margin: 0px;
  padding-right:25px;
  margin-top: 7px;
  margin-left: 0px;
  padding-left: 10px;
  flex-wrap: wrap;
}
.main-navigation a {
  padding-bottom: 0;

}
.main-navigation li {
  display: inline-block;
  vertical-align: middle;
}

.cart-navigation {
  display: flex;
  min-width: 120px;
  position: relative;
  margin: 0px;
  margin-top: 7px;
  padding-left: 25px;

}


/* Слайдер ========================*/
.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }
.slide-text h2 {
 font-size: 55px;
 line-height: 55px;
 font-weight: 500;
 margin: 0px;
 padding-top: 91px;
 padding-bottom: 13px;
 }

.slide-text {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding-bottom: 20px;
}
.slide-text a{
  width: 240px;
}

.slide-text p {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 0px;
  color: #283136;
  vertical-align: middle;
  }
.slide-picture {
  width: 698px;
  display: flex;
  padding-top: 10px;
}
.slide2 .slide-picture {
  justify-content: flex-end;
}
.slide2 .slide-text {
  width: 100%;
}
.slide-text .button {
  margin-bottom: 60px;
}

.slide-text {
 justify-content: flex-end;
}
.slide-text h2{
  position: absolute;
  top: 100px;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border: none;
  padding: 16px 53px;
  border-radius: 5px;
  font-weight: 500;
  vertical-align: middle;

}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #fb565a;
}
.button-оrange.disabled{
  cursor: default;
  opacity: 0.5;
  background-color: #efc84a;
}
.button-green.disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #00ca74;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border: none;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.slider-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.slide {
  display: flex;
  width: 1130px;
  justify-content: space-between;
  align-items: stretch;
  display: none
}


.slider-controls {
  display: flex;
}
.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  vertical-align: top;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}
.slider-controls {
  position: absolute;

  left: 909px;
  top: 430px;
  z-index: 14;
  font-size: 0px;
}

#product-1:checked ~ .slide-list #slide1,
#product-2:checked ~ .slide-list #slide2,
#product-3:checked ~ .slide-list #slide3{
  display: flex;
}
#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  /*background-color: transparent; */
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .slider-controls label[for="product-1"]:before,
#product-2:checked ~ .slider-controls label[for="product-2"]:before,
#product-3:checked ~ .slider-controls label[for="product-3"]:before {
  content:"";
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 15;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
/* Почему ошибка в коде выше, но работает !!!!!!!!!!! _____________________________________________*/


.visually-hidden__radio {
  position: absolute;

  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
/* Услуги (разноцветные кнопки) ========================*/
.products {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.products-wrap {
  position: relative;
}
.products-wrap::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  opacity:0.1;
  bottom: 0px;
  left: 0px;
}

.products-list {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.products h3 {
  margin: 0px;
  padding: 20px 0px 15px;
}

.products p{
  margin: 0px;
  padding-bottom: 33px;
}

.products-item-button{
  width: 160px;
  padding: 0;
  text-align: center;
  padding: 16px 0;
}
.products-item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.products-item p{
  padding-left: 2px;
  margin-bottom: 13px;
  padding-bottom: 10px;
  max-height: 165px;
  overflow: hidden;
  color: #283136;
  }
.products-item a {
  margin-top: 10px;
  }
.container .products {
  display: flex;
  width: 1100px;
}

.button-green {
  color: #ffffff;
  background-color: #00ca74;
}
.button-green:hover {
  color:#ffffff;
  background-color: #00bc6c;
}
.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}
.button-оrange {
  color:#ffffff;
  background-color: #efc84a;
}
.button-оrange:hover {
  color:#ffffff;
  background-color: #eab534;
}
.button-оrange:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.products-item p {
  width: 250px;
}


/* about-us =====================================*/
.about-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 34px;
  }
.about-us p {
  margin: 0px;
  padding-bottom: 38px;
}
.about-us b {
  display: inline-block;
  padding-bottom: 25px;
  vertical-align: middle;
}

.about-us ul {
  list-style: none;
  margin: 0px;
}
.about-us th {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  padding-bottom: 33px;
  padding-top: 48px;
  padding-right: 15px;
  text-align: left;
}
.about-us th:first-child {
  padding-right: 15px;
}

.about-us td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.about-us-info sup {
  font-size: 27px;
}

.about-us-title b {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.about-us-title p {
  color: #283136;
}
.about-us-title li {
  padding-bottom: 10px;
}
.about-us-info caption {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.about-us {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.about-us-wrapper {
  justify-content: space-between;
  padding-top: 0px;
  }
.about-us-title {
  width: 650px;
  padding-top: 55px;
}
.about-us-info {
  width: 360px;
  padding-top: 20px;
}
.about-us-title-ul {
  padding-left: 0px;
}
.about-us__table caption{
  padding-top: 30px;
}

.about-us-title-ul li {
  padding-bottom: 23px;
  padding-left: 37px;
  position: relative;
  color: #283136;
  }
.about-us-title-ul li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  left: 0px;
  top: 10px;
}

/* Клиенты =====================================*/
.clients {
  padding-top: 50px;
  padding-bottom: 45px;
}
.clients.container {
  width: 1160px;
  padding-right: 0;
  padding-left: 0;
}
.clients ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.clients a {
  opacity:0.2;
}
.clients a:hover,
.clients a:focus {
  opacity:1;
}
.clients a:active {
  opacity:0.1;
}
.clients {
  position: relative;
}
.clients::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  opacity:0.1;
  top: 0px;
  left: 0px;
}
.clients::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  opacity:0.1;
  bottom: 0px;
  left: 0px;
}

.clients ul{
  display: flex;
  width: 1160px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.clients-list li {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
  padding: 0px 0px;
  height: 90px;

}
.clients-list li:first-child {
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 30px;
}

.clients-list li:nth-child(2){
  justify-content: flex-start;
  padding-left: 40px;
}

.clients-list li:nth-child(3){
  justify-content: flex-start;
  padding-left: 45px;
}
.clients-list li:last-child {
  justify-content: flex-end;
  padding-right: 45px;
  padding-top: 10px;
  align-content: flex-end;
}


.clients-list li::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: black;
  opacity:0.1;
  right: 7px;
  top: 20px;
}
.clients-list li:nth-child(2)::before{
  right: 15px;
  top: 20px;
}
.clients-list li:nth-child(3)::before{
  right: 3px;
  top: 20px;
}

.clients-list li:last-child::before{
  content: none;
}

/* Карта =====================================*/

.write-us-map {
  position: absolute;
  left: 372px;
  top: 135px;
  background-size: 319px, 319px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  width: 319px;
  height: 308px;
  padding: 47px 50px 47px;
  background-color: white;
}
.catalog-wrapper+.map .write-us-map {
  left: 373px;
  top: 115px;
}

.write-us-map a {
  color: #666666;
}
.write-us-map .button {
  color: white;
  padding: 17px 40px;
  padding-left: 45px;
  width: 220px;
  height: 50px;
}
.map img {
  padding: 0px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 70px;
  position: relative;
}

.catalog-wrapper+.map{
  padding-top: 60px;
  padding-bottom: 70px;
}
.write-us-map h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 18px;
}

.write-us-map address {
  font-style: normal;
  width: 205px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 18px;
 }

.write-us-map p {
  margin: 0px;
  padding-bottom: 37px;
}


/* Футер =====================================*/

.social ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;

}
.footer-slogan {
  font-size: 36px;
  font-weight: bold;
  color: black;
  display: block;
  padding-bottom: 0;
  line-height: 36px;
}
.footer-info {
  padding-top: 11px;
}

.footer-wrapper {
  display: flex;
  width: auto;
  justify-content: center;
  padding-bottom: 75px;
}

.social-wrapper {
  justify-content: flex-start;
  align-items: center;
}
.social-wrapper-catalog {
  padding-top: 5px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
.social-list li {
  display: flex;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  }
.social a:hover,
.social a:focus {
  background-color: #e74246;
  background-size: 79px 79px;
}
.social a:active {
  background-color: #d7373b;
  background-size: 79px 79px;
}

.social-list {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: center;
 }

.footer-text {
  margin-left: 140px;
}
.footer-text p {
  margin: 0px;
}

/* Всплывающее окно =====================================*/
.modal {
  position: relative;
}

.modal-write-us {
  display: flex;
  justify-content: center;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
  position: absolute;
  left: 50%;
  margin-left: -480px;
 }
 .wrapper-write-us {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   box-sizing: border-box;
}

.wrapper-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 67px 0 43px 6px;
  width: 775px;
}
.wrapper-title h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0px;
  }
.form {
  display: flex;
  width: 760px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 8px;
}
.form-item {
  display: flex;
  flex-direction: column;
  width: 360px;

}
.form-item label {
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.form-item.area {
  width: 100%;
  padding-top: 34px;
  padding-bottom: 47px;
}
.form input {
  height: 50px;
  padding: 0 13px 3px;
  color: rgba(68, 68, 68, 0.5);
  opacity: 0.5;
  line-height: 18px;
}
.form textarea {
  height: 118px;
  padding: 10px 13px;
  opacity: 0.5;
  line-height: 18px;
}

.button-write-us-close {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-weight: 500;
}

.button-write-us {
  width: 260px;
  height: 50px;
  margin-left: 7px;
}

.button-write-us:hover {
  opacity: 1;
}
.button-write-us:active {
  opacity: 0.1;
}

.button-write-us-close::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FB565A' d='M13.328 10.5l7.371-7.371a1.003 1.003 0 0 0 0-1.414L19.285.3a1.003 1.003 0 0 0-1.414 0L10.5 7.672 3.129.301a1.003 1.003 0 0 0-1.414 0L.301 1.715a1.003 1.003 0 0 0 0 1.414L7.672 10.5.301 17.871a1.003 1.003 0 0 0 0 1.414l1.415 1.414a1.003 1.003 0 0 0 1.414 0l7.371-7.371 7.371 7.371a1.003 1.003 0 0 0 1.414 0l1.414-1.414a1.003 1.003 0 0 0 0-1.414L13.328 10.5z'/%3E%3C/svg%3E");
  height: 21px;
  width: 21px;
}
.button-write-us-close:hover {
  opacity: 1;
}
.button-write-us-close:active {
  opacity: 0.1;
}

  .modal-write-us input,
  .modal-write-us textarea {
  color:rgba(68, 68, 68, 0.5);
  border: solid 2px #d7dcde;
  font-family: inherit;
}
  .modal-write-us input:focus,
  .modal-write-us textarea:focus {
  color: #444444;
  border: solid 2px #000000;
}
  .modal-write-us input:invalid,
  .modal-write-us textarea:invalid {
  color: #e74246;
  border: solid 2px #e74246;
}
/* Страница каталога All =====================================*/
.container-center {
  justify-content: center;
  font-weight: 500;
}
.page-title {
  margin:0;
}
.slide-catalog {
  padding-bottom: 110px;
  padding-top: 70px;
}

/* Каталог фильтры =====================================*/
.filters fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  padding-bottom: 52px;
}
.filters .fieldset-radio{
  padding-bottom: 30px;
}

.filters .fieldset-check_box {
  padding-bottom: 35px;
}

.filters legend {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.legend-radio,
.legend-check_box {
  margin-bottom: 15px;
}
.filters label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}
.filters ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.filters .button-filter {
  border: none;
  background-color: #eeeeee;
  color: black;
}
.filters .button-filter:hover {
  background-color: #dfdfdf;
  }
.filters .button-filter:active {
  background-color: #d5d5d5;
  opacity: 0.3;
  }

.form-wrapper {
  display: flex;
  flex-direction: column;
}
.filters {
  display: flex;
  padding-top: 55px;
  padding-right: 140px;
}
.filters .price {
  padding-bottom: 5px;
}

.filters fieldset {
  display: flex;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}
.range-filter {
  width: 260px;
  margin-top: 42px;
}
.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}
.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
 }

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  vertical-align: middle;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;
  line-height: 22px;
  -moz-appearance: textfield;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.max-price {
  text-align: right;
}
.check {
  position: relative;
  padding-left: 25px;
  z-index: 1;
  margin-left: 10px;
}
.check_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check_box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%234D4D4D' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 23px ;
  opacity: 0.4;
}

.check_input:checked + .check_box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%234D4D4D' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%234D4D4D' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  width: 27px;
  height: 23px;
  background-size: 27px ;
}

.check_box_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
.check_box_item {
  margin-bottom: 15px;
  }

.check_box_item:hover .check_box {
  opacity: 1;
}

.check_input:disabled~.check_box,
.check_input:disabled~.check {
 opacity: 0.1;
}


                 /* --- radio --- */

.radio {
  position: relative;
  padding-left: 25px;
  z-index: 1;
  box-sizing: border-box;
  margin-left: 10px;
}
.radio_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;


  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio_wrap {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 25px ;
  opacity: 0.4;
}

.radio_input:checked + .radio_wrap {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%234D4D4D' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%234D4D4D' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}
.radio_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radio_item {
  margin-bottom: 15px;
}
.radio_item .radio {
  margin-bottom: 2px;

}
.radio_item:hover .radio_wrap {
  opacity: 1;
}

.radio_input:disabled~.radio,
.radio_input:disabled~.radio_wrap {
  opacity: 0.1;
}


  /* сортировка =====================================*/
.sort ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.sort li {
  font-size: 14px;
  line-height: 18px;

}
.sort a {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.sort h2 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 3px;
}
.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
  fill: red;
}
.sort a:active {
  color: #000000;
}
.sort .button-active {
  color: #000000;
}
.sort {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 50px;
}
.sort h2 {
  margin-right: auto;

}

.sort-wrapper {
  display: flex;
}
.sort-wrapper .increase {
  padding-left: 18px;
}

.sort-wrapper:first-of-type {
  padding-right: 48px;
}
.sort-wrapper:first-of-type li {
  padding-right: 26px;
}
.sort-wrapper li:last-child {
  padding-right: 0px;
}
.sort-wrapper .decrease::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23a6a6a6' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
  opacity: 0.3;
}
.sort-wrapper .increase::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23a6a6a6' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
  opacity: 0.3;
}

.sort-wrapper .decrease:hover::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23a6a6a6' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
  opacity: 1;
}
.sort-wrapper .increase:hover::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23a6a6a6' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
  opacity: 1;
}
.sort-wrapper .decrease:active::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}
.sort-wrapper .increase:active::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}
.sort-wrapper .decrease.active::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
  opacity: 1;
}



/* Каталог =====================================*/
.page-title {
  font-size: 55px;
  line-height: 55px;
}
.crp {display: flex}

.cards ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog p {
  color: #666666;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
}

.catalog-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  width: 362px;
  height: 231px;
}
.catalog-item-info a {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.catalog-item-info h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin:29px 0 10px;

  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-item-info p {
  max-width: 245px;
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;

}

.catalog-item-info a:hover {
  color: #fb565a;
}
.catalog-item-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog .price-button {
  color: #ffffff;
}
.catalog-items .price-button:active {
  color: #ffffff;
}
.catalog-items .price-button:hover {
  color: #ffffff;
}

.cards .pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  }


.pagination-list .pagination-item {
  display: inline-block;
  justify-content: flex-start;
  padding-right: 11px;
  vertical-align: middle;
 }

.pagination-list a{
  display: flex;
  color: #000000;
  background-color: #eeeeee;
  width: 50px;
  height: 50px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.pagination-item .next {
  height: 50px;
  width: auto;
  padding: 0px 78px;
}

.pagination-list a.current {
  background: none;
  border:3px solid #eeeeee;
}
.pagination-list a:hover:not(.current) {
  background-color: #dfdfdf;
  color: black;
}
.pagination-list a:active {
  background-color: #d5d5d5;
  color: black;
}
.pagination-list a.current:active {
  color: black;
  background: none;
  box-shadow: none;
}

.cards-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-lists li {
  width: 360px;
  position: relative;
  padding-bottom: 27px;
  padding-top: 40px;

}
.catalog-item-info {
  position: absolute;
  bottom: 34px;
  left: -1px;
  display: none;
  justify-content: space-between;
}

.catalog-item-info .button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 10px 0 43px;

  padding: 16px 60px;
}
.catalog-items::after {
  content: url("../img/svg/browser.svg");
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.12;
}
.catalog-items:hover::after{
  content: url("../img/svg/browser.svg");
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 1;
}

/*.catalog-items:hover .catalog-item-info{ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
 .catalog-item-info{
  position: absolute;
  bottom: 34px;
  display: flex;
}

.offers {
  display: flex;
  width: 760px;
  flex-direction: column;
}
.catalog-wrapper {
  display: flex;
}
