
body {
  padding: 0;
  margin:0;

  font-family: "Roboto", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  min-width: 1200px;
}

a {
  text-decoration: none;
  }

.visuallyhidden:not(:focus):not(:active)  {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Хедер + навигация ========================*/
.site-header {
  background-color: #eeeeee;
}
.header-color {
  background-color: #eeeeee;
}

.main-navigation li {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
}
.site-navigation,
.cart-navigation {
  list-style: none;
  padding: 0px;
}
.site-navigation a,
.cart-navigation a {
  color: #000000;
  font-weight: 500;
}

.site-navigation a:hover,
.cart-navigation a:hover {
  color: #fb565a;
}
.site-navigation a:active,
.cart-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation .active {
  border-bottom: 2px solid #fb565a;
}

.main-navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

 }
.main-navigation {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.site-navigation {
  display: flex;
  min-width: 440px;
  justify-content: space-between;
  margin: auto;
}



/* Слайдер ========================*/
.slider ul {
  list-style: none;
  padding: 0px;
}
.slider h2 {
 font-size: 55px;
 line-height: 55px;
 font-weight: 500;
}
.button {
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.slide {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}

/* Услуги (разноцветные кнопки) ========================*/
.products-list {
  list-style: none;
  padding: 0px;
}
.products-item-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.button-green {
  color: #ffffff;
  background-color: #00ca74;
}
.button-green:hover {
  color:#ffffff;
  background-color: #00bc6c;
}
.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}
.button-оrange {
  color:#ffffff;
  background-color: #efc84a;
}
.button-оrange:hover {
  color:#ffffff;
  background-color: #eab534;
}
.button-оrange:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.products {
  display: flex;
  width: 100%;
  justify-content: center;
}
.products-list {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  }
.products-item p {
  width: 250px;
}


/* about-us =====================================*/
.about-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  }
.about-us ul {
  list-style: none; /* Заменить на необходимый, пока просто убрал маркеры !!!!!!!!!!!!!*/
}
.about-us th {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  padding-bottom: 27px;
  padding-top: 49px;
}

.about-us td {
  font-size: 16px;
  line-height: 18px;
}

.about-us-info sup {
  font-size: 23px;
}
.about-us-title b {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.about-us-title li {
  padding-bottom: 10px;
}
.about-us-info caption {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.about-us {
  display: flex;
  width: 100%;
  justify-content: center;
}
.about-us-wrapper {
  display: flex;
   width: 1160px;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 76px;
}
.about-us-title {
  width: 650px;
}
.about-us-info {
  width: 360px;
}

/* Клиенты =====================================*/
.clients ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.clients a {
  opacity:0.2;
}
.clients a:hover,
.clients a:focus {
  opacity:1;
}
.clients a:active {
  opacity:0.1;
}
.clients {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
}
.clients-list {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}
/* Карта =====================================*/

.write-us-map {
  background-size: 319px,319px; /* пытаюсь всему диву бекграунд белый сделать этого размера*/
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.write-us-map a {
  color: #666666;
}
.write-us-map .button {
  color: white;
}
.write-us-map h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.write-us-map address {
  font-style: normal;
}
.map {
  display: flex;
  width: 1440px;
  flex-direction: column;
}
.write-us-map {
  display: block;
  flex-direction: column;
  width: 319px;
  padding: 54px 50px 47px;
}

address {
  width: 220px;
}
/* Футер =====================================*/
.social ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social a{
  background-color: #e1e1e1;
  background-size: 79px 79px;
}
.social a:hover,
.social a:focus {
  background-color: #e74246;
  background-size: 79px 79px;
}
.social a:active {
  background-color: #d7373b;
  background-size: 79px 79px;
}
.footer-text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
.footer-slogan {
  font-size: 36px;
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 12px;
}
footer {
  display: flex;
  width: auto;
  justify-content: center;
}

.social-wrapper {
  display: flex;
  width: 1160px;
  justify-content: flex-start;
  align-items: center;
}

.social-list {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: center;
 }

.footer-text {
  margin-left: 140px;
}
/* Всплывающее окно =====================================*/
.modal-write-us {
  width: 960px;
  height: 590px;
  display: flex;
  justify-content: center;
}

 .wrapper-write-us {
  width: 760px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper-title {
  display: flex;
  justify-content: space-between;
}

  .modal-write-us input,
  .modal-write-us textarea {
  color:rgba(68, 68, 68, 0.5);
  border: solid 2px #d7dcde;
  font-family: inherit;
}
  .modal-write-us input:focus,
  .modal-write-us textarea:focus {
  color: #444444;
  border: solid 2px #000000;
}
  .modal-write-us input:invalid,
  .modal-write-us textarea:invalid {
  color: #e74246;
  border: solid 2px #e74246;
}


/* Каталог фильтры =====================================*/
  .filters fieldset {
  border: none;
}
.filters legend {
  text-transform: uppercase;
}

.filters legend{
  font-size: 18px;
  font-weight: bold;
}
.filters label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}
.filters ul {
  list-style: none;
}
.filters .button-filter {
  border: none;
  background-color: #eeeeee;
  color: black;

}

/* сортировка =====================================*/
.sort ul {
  list-style: none;
}
.sort li {
  font-size: 14px;
  line-height: 18px;
}
.sort a {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.sort h2 {
 text-transform: uppercase;
 font-size: 18px;
 line-height: 18px;
 font-weight: bold;
}
.sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort a:active {
  color: #000000;
}
.sort .button-active {
  color: #000000;
}
/* Каталог =====================================*/
main .page-title {
  font-size: 55px;
  line-height: 55px;
}

.catalog ul {
  list-style: none;
}
.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog p {
  color: #666666;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
}
.catalog-item-info a {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.catalog-item-info a:hover {
  color: #fb565a;
}
.catalog-item-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog .price-button {
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}
.pagination-list a{
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.pagination-item {
  background-color: #eeeeee;
}
.pagination-item-current { /* пока сделал так активную*/
  border:1px solid #eeeeee;
  background-color: white;
}
